@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Poppins', sans-serif;
    }

    input[type="radio"] {
        @apply accent-[#C8102E]; 
      }

      body {
        background-image: url('/landing_page.png');
        background-size: cover; 
        background-repeat: no-repeat; 
        background-attachment: fixed; 
        background-position: center; 
        z-index: -999;
    }
}


::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
    background: #C8102E;
    border-radius: 3px;
}


::-webkit-scrollbar-thumb:hover {
    background: #C8102E;
}

@layer utilities {
   
    .text-primary {
        color:#C8102E; 
    }
    .bg-primary {
        background-color: #C8102E; 
    }
    .border-primary {
        border-color: #E30B0B; 
    }
    .ring-primary {
        --tw-ring-color: #C8102E; 
    }
    .hover\:bg-primary-dark:hover {
        background-color: #C20909; 
    }

    
    .text-secondary {
        color: #4A4A4A;
    }
    .bg-secondary {
        background-color: #4A4A4A;
    }

    .text-primary-light {
        color: #FF4444; 
    }
    .bg-primary-light {
        background-color: #FF4444; 
    }

    
    .bg-primary-gradient {
        background: linear-gradient(to right, #E30B0B, #FF4444);
    }
}

.phone-input {
    @apply w-full;
  }
  
  .phone-input .form-control {
    @apply w-full px-3 py-2 md:px-4 md:py-3 rounded-lg border border-gray-300 focus:ring-2 focus:ring-red-500 focus:border-transparent outline-none text-sm md:text-base pl-12 md:pl-14;
  }
  
  .phone-dropdown-button {
    @apply bg-transparent border-r-0 rounded-l-lg h-full absolute left-0 top-0 px-2 md:px-3 hover:bg-gray-50 transition-colors;
  }
  
  .phone-dropdown {
    @apply bg-white border border-gray-200 rounded-lg shadow-lg max-h-[200px] overflow-y-auto mt-1;
  }
  
  .phone-dropdown .country {
    @apply px-4 py-2 hover:bg-gray-100 cursor-pointer text-sm;
  }
  
  .phone-dropdown .search {
    @apply p-2 border-b border-gray-200;
  }
  
  .phone-dropdown .search input {
    @apply w-full px-3 py-1 border border-gray-300 rounded-md text-sm focus:outline-none focus:ring-2 focus:ring-red-500;
  }